body {
  background-color: rgb(207, 190, 220);
}

/* overskrift h1 design */
h1{
font-style: italic;
}

p{
background-color: rgb(207,190,220)
}



.kasse{
float: right;
background-color: rgb(207,190,220);
width: 40%;
height: 40%;
overflow: hidden;
font-size: 40;
}
